.genreStyle{
    width: 200px;
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #b7b6b6;
    box-shadow: 0 0 10px 5px #b7b6b6;
    border: 2px solid #b7b6b6;
}
.genreStyle:hover::before {
    opacity: 1;
}

.genreStyle:hover {
    box-shadow: 0 0 10px 5px #a80000;
    border: 2px solid #a80000;
    color: #a80000;
}
