.listCard{
    width: 15%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;

}
.listCard:hover{
    border-color: #f00;
    transform: scale(1.04);
}
.imgPost{
    width: 100px;
}
.listCard h4{
    margin: 0;
    text-align: center;
}



