/*Basic Styles*/
.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}
.listCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.imgPost {
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.4s;
}
.container h3 {
    margin: 5px;
    text-align: center;
}
.listCard:hover img {
    opacity: 0.3;
}
/*<---End--->*/


/*Dark Style*/
.Dark .listCard{
    background-color: black;
}
.Dark h3{
    color: #b7b6b6;
}
/*<---End--->*/


/*Light Style*/
.Light .listCard{
    background-color: white;
}
.Light h3{
    color: #15171a;
}
/*<---End--->*/

.listCard::before {
    content: "\25B6";
    font-size: 50px;
    position: absolute;
    background-color: #a80000;
    border-radius: 50%;
    opacity: 0;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard:hover::before {
    opacity: 1;
}
.listCard:hover {
    box-shadow: 0 0 10px 5px #a80000;
}
