/*Basic Styles*/
.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.background {
    height: 100vh;
    background-image: url("/public/Photo/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 90%;
}
.descriptionPhone {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.descriptionBlockPhone h1 {
    font-size: 40px;
}
.descriptionBlockPhone h3 {
    font-size: 20px;
}
.descriptionBlockPhone {
    text-align: center;
}
.background::before,
.background::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    pointer-events: none;
}
.fon {
    width: 100%;
}
.movie {
    cursor: pointer;
}
.formSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description {
    text-align: center;
    margin-top: 50px;
}
.description h1 {
    font-size: 60px;
    margin-bottom: 0;
}
.description h2 {
    font-size: 30px;
}
.searchButton:active {
    transform: scale(1.02);
}
.modalContent h2 {
    margin-bottom: 10px;
}
.modalContent button {
    margin-top: 10px;
}
.titleModal {
    width: 100%;
}
.titleModal h2 {
    margin: 0;
    position: relative;
    top: -20px;
}
.buttonClose {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.photoPhone {
    width: 30%;
    border-radius: 30px;
}
.searchButton {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}
.searchInput {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    outline: none;
}
.searchInput::placeholder {
    color: #999;
}
.searchInput:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/*<---end--->*/


/*Dark Mode*/
.Dark{
    background: #15171a;
    color: #fff;
}
.Dark .photoPhone {
    box-shadow: 0 0 10px 5px #b7b6b6;
}
.Dark .colorText {
    color: snow;
}
.Dark .background::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
.Dark .background::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}
/*<---end--->*/


/*Light Mode*/
.Light{
    background: rgba(236, 236, 236, 0.8);
    color: #000
}
.Light .photoPhone {
    box-shadow: 0 0 10px 5px #000000;
}
.Light .colorText {
    color: #000000;
}
.Light .background::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
}
.Light .background::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5), transparent);
}
/*<---end--->*/





/*Modal Window Style*/
/*Basic Style*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContent {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    column-gap: 10px;
    height: 500px;
}
.scrollModel {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    row-gap: 20px;
}
#closeModel {
    font-size: 25px;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 1;
    color: #999;
}
#closeModel:hover {
    color: #a80000;
}
/*<---end--->*/


/*Dark style*/
.Dark .modal{
    background-color: rgba(0, 0, 0, 0.5);
}
.Dark .modalContent{
    background-color: #15171a;
}
/*<---end--->*/


/*Light Style*/
.Light .modal{
    background-color: rgba(255, 255, 255, 0.5);
}
.Light .modalContent{
    background-color: rgb(255, 255, 255);
}
/*<---end--->*/





/*Scroll Style*/
.scrollModel::-webkit-scrollbar {
    width: 8px;
}
.scrollModel::-webkit-scrollbar-track {
    background: #525252;
    border-radius: 10px;
}
.scrollModel::-webkit-scrollbar-thumb {
    background: #a80000;
    border-radius: 10px;
}
.scrollModel::-webkit-scrollbar-thumb:hover {
    background: #b7b6b6;
}
/*<---end--->*/