/*Basic Style*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.ring{
    width: 400px;
    height: 400px;
    border: 0 solid black;
    border-radius: 50%;
    position: absolute;
}
.loading{
    font-size: 40px;
}
/*<---end--->*/

/*Dark Mode*/
.Dark {
    background-color: #15171a;
}
.Dark .loading{
    color: #b7b6b6;
}
/*<---end--->*/

/*Light Mode*/
.Light {
    background: rgba(236, 236, 236, 0.8);
}
.Light .loading{
    color: #15171a;
}
/*<---end--->*/



.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color: rgb(255, 0, 255);
    animation: rotate1 2s linear infinite;
}
.ring:nth-child(2){
    border-right-width: 8px;
    border-color: rgb(0, 247, 255);
    animation: rotate2 2s linear infinite;
}
.ring:nth-child(3){
    border-top-width: 8px;
    border-color: rgb(0, 255, 13);
    animation: rotate3 2s linear infinite;
}

@keyframes rotate1 {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate3 {
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}


