/*Basic Style*/
.mainPageGenres{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 100px;
}
.blockGenreList{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 40px;
    row-gap: 40px;
}
/*<---end--->*/


/*Dark Style*/
.Dark h1{
    color: #b7b6b6;
}
/*<---end--->*/


/*Light Style*/
.Light h1{
    color: #15171a;
}
/*<---end--->*/