/*Dark Style*/
button{
    margin: 20px;
}
.buttonPagination{
    text-align: center;
    margin-top: 10px;
}
/*.genresStyle{*/
/*    text-align: center;*/
/*    margin-top: 15px;*/
/*}*/
.buttonPagination span {
    font-size: 30px;
}
/*.genres{*/
/*    font-size: 35px;*/
/*    text-decoration: none;*/
/*}*/
span{
    font-size: 20px;
}
.button{
    appearance: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px 5px #a80000;
    border: 2px solid #a80000;
}
.button:active {
    transform: translateY(2px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/*<---end--->*/


/*Dark Style*/
.Dark .buttonPagination span, .Dark .genresStyle .genres{
    color: #b7b6b6;
}
.Dark .buttonPagination .button{
    background: #15171a;
    color: #a80000;
}
/*<---end--->*/


/*Light Style*/
.Light .buttonPagination span, .Light .genresStyle .genres{
    color: #15171a;
}
.Light .buttonPagination .button{
    background: rgba(236, 236, 236, 0.8);
    color: #15171a;
}
/*<---end--->*/







