.buttonPagination{
    text-align: center;
    margin-top: 10px;
}
.buttonPagination span {
    color: #b7b6b6;
    font-size: 30px;
}
button{
    margin: 20px;
}


.button{
    appearance: none;

    border-radius: 5px;
    background: #15171a;
    color: #a80000;
    padding: 8px 16px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px 5px #a80000;
    border: 2px solid #a80000;
}
.button:active {
    transform: translateY(2px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.genresStyle{
    text-align: center;
    margin-top: 15px;
}
.genres{
    font-size: 35px;
    text-decoration: none;
    color: #b7b6b6;
}
span{
    font-size: 20px;
    color: black;
}