/*Basic Styles*/
.movie{
    width: 20%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    border-bottom: 2px solid #b7b6b6;
}
.listCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.movie h3{
    margin: 0;
}
.imgPost{
    width: 100%;
}
.listCard:hover img {
    opacity: 0.3;
}
.listCard:hover::before {
    opacity: 1;
}
.listCard:hover {
    box-shadow: 0 0 10px 5px #a80000;
}
/*<---end--->*/


/*Dark Mode*/
.Dark .listCard{
    background-color: black;
}
/*<---end--->*/


/*Light Mode*/
.Light .listCard{
    background-color: #ffffff;
}
/*<---end--->*/



