/*Basic Style*/
body {
    margin: 0;
    padding: 0;

    /*color: #b7b6b6;*/
    color: #15171a;
}






::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a80000;
}

::-webkit-scrollbar-track {
    background-color: #15171a;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #282c35;
}

/*<---end--->*/

/*Dark style*/
/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-color: #15171a;*/
/*    color: #b7b6b6;*/
/*}*/
/*!*<---end--->*!*/

/*Light style*/
/*<---end--->*/